{% extends 'accounts/main.html' %} {% block content %}
<h1>Dashboard</h1>
<hr />
<br />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima distinctio
  dicta beatae ratione iusto praesentium quam aut aperiam voluptates, ex nisi
  dolores, inventore quis, ipsa quas? Beatae dolorem accusantium illo nulla
  laboriosam voluptate, rem consequatur quas unde, natus tempore quasi saepe
  possimus eveniet impedit cupiditate reiciendis dicta delectus ipsam maiores
  eos consequuntur ducimus nostrum dignissimos. Asperiores doloribus aliquam
  unde blanditiis accusantium cumque ea maxime at perferendis nesciunt, corrupti
  velit totam minima impedit veritatis sequi sed fugiat sit harum sint. Quia
  commodi rem sequi. Aperiam, dolorem vel deleniti iure ea nobis officia quis,
  ipsam sed culpa vero quas delectus aliquid velit!
</p>
{% endblock %}
